paramiko
requests
PyYAML
Jinja2
httplib2
six
markupsafe
ecdsa
shade
apache-libcloud
boto
PyOpenSSL
sklearn
joblib
pyparsing
wrapt
debtcollector
pytz
debtcollector
monotonic
netaddr
shade
python-openstackclient
python-neutronclient
mitogen
pywinrm
ansible-lint
ansible==2.10.0
